body{
    margin:0px;
    padding:0px;
}
.div2{
    padding:6px 0px 0px 0px ;
    margin:5px;
    background-color:green;
    border:1px solid blue;
    display:inline-block;
    margin-bottom:0px;
    border-radius:5px;
    color:white;
    margin-right:0px;
}
.h22{
    background-color:rgba(255, 0, 0, 0.5);
}
.h23{
    background-color:yellow
}
.h11{
    background-color:pink
}